.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 10px 20px  rgba(0,0,0,1);
  border: 2px solid rgb(255, 255, 255,0.3);
  cursor: pointer;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  min-height: 410px;
  min-width: 280px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  height: 100%;
  img{
    height: 100%;
    max-width: 100%;
    border-radius: 25px;
  }
}

.flip-card-back {
  color: white;
  background-color: rgba(0,0,0,0.8);
  transform: rotateY(180deg);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 0;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  
    li{
      text-align: left;
      margin-bottom: 5px;
    }
  }

}